:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  color: var(--primary-text-color);
}
p {
  font-family: "Roboto";
  color: var(--text-color);
}
/*--Шапка страници--*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.design-logo {
  color: var(--accent-color);
}
.contacts {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.site-nav a.active {
  color: var(--accent-color);
}
/*--Страница студия--*/

.home-button {
  background: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}
.our-skills-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}
.our-skills-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.our-work.our-team {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.name-employee {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.profession {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

/*--Страница портфолио--*/
.filter button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  cursor: pointer;
}
.filter button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}
.portfolio-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
  cursor: pointer;
}
.portfolio-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-color);
  cursor: pointer;
}
